

<header>
  <h1 class="headline"> ようこそ Bookers へ！ </h1>
  
</header>
  
  <P>Bookers では、さまざまな書籍に関するあなたの意見や</p>
  
  <p>印象を共有し、交換することができます </P>
  
  <p>
    
  <%= link_to "Start", "/books"%>
    
  </p>
  </body>
  
  </html>